body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #222;
    font-size: 24px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

p {
    margin: 4px 0;
}
